@import url('https://db.onlinewebfonts.com/c/12420e8c141ca7c3dff41de2d59df13e?family=BeaufortforLOL-Bold');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://kit.fontawesome.com/a076d05399.js');

:root {
  --primary-text-color: #eee7d3;
  --secondary-text-color: #9c998b;
  --header-text-color: #cabf93;
  --border-bottom-divider: solid 1px #ffffff4d;
  
  --border-radius: 0.3rem;
  --spacing-one: calc(1rem * 0.25);
  --spacing-two: calc(1rem * 0.5);
  --spacing-three: 1rem;
  --spacing-four: calc(1rem * 1.5);
  --spacing-five: calc(1rem * 3);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'BeaufortforLOL-Bold', monospace;
  font-weight: 400;
  line-height: 1.5;
  font-size: 20px;
  color: var(--dark);
  background-color: #19153c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'BeaufortforLOL-Bold', monospace;
  font-weight: 700;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin: 0;
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

nav {
  width: 100%;
  justify-content: center;
  height: 7.6rem;
  color: var(--header-text-color);
  border-top: solid 2px #735c2b;
  border-bottom: var(--border-bottom-divider);
  font-size: 1.5rem;
}

nav a {
  color: var(--header-text-color);
  padding: 6px 18px;
  padding-top: 42px;
  padding-bottom: 42px;
  margin: 0px;
  transition: all 0.2s;
}

li {
  list-style-type: none;
}

.nav-hover:hover {
  color: #e9e3cf;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(244, 242, 232, 0.08) 50%,
    rgba(233, 227, 207, 0.16) 100%
  );
}

.page-title {
  text-align: center;
  width: 100%;
  margin: 0;
  font-size: 2.5rem;
}

.btn,
.pill {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 0.5rem 1.2rem;
  margin: 5px 0;
  border-radius: var(--border-radius);
  border: none;
  color: var(--dark);
  outline: none;
  background-color: var(--secondary);
  transition: all 0.5s;
}

.btn:hover,
.pill:hover {
  color: var(--secondary);
  background-color: var(--dark);
}

.btn-inline {
  display: inline;
}

/* CARDS */
.card {
  margin: 0 0 20px 0;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  background-color: var(--light);
  color: var(--dark);
}

.card-header {
  color: var(--secondary);
  margin: 0;
  background-color: var(--dark);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  padding: 2.5%;
  font-size: 1.4rem;
}

/* FORM */
.form-label,
.form-input,
.form-textarea {
  display: block;
}

.form-label {
  font-size: 1.2rem;
  margin: 0.625rem 0 0.25rem;
}

.form-input {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Merriweather Sans', sans-serif;
  width: 75%;
  padding: 1.125rem;
  margin: 1rem auto;
  font-size: 0.65rem;
  font-weight: 800;
  color: rgb(152, 152, 152);
  border: none;
  border-radius: var(--border-radius);
  background-color: #ededed;
}

[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: var(--secondary);
  margin-right: 0.2rem;
}

[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 2px solid var(--secondary);
  border-radius: 100%;
  background: #fff;
}
[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background-color: var(--secondary);
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type='radio']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type='radio']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* LAYOUT */
.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  width: 92%;
}

/* DISPLAY */
.display-none {
  display: none;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.display-inline {
  display: inline;
}

/* HEIGHT / WIDTH UTILS */
.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.min-100-vh {
  min-height: 100vh;
}

.min-100-vw {
  min-width: 100vw;
}

/* MARGIN/PADDING UTILS */

/* Margin - all sides */
.m-0 {
  margin: 0;
}

.m-1 {
  margin: var(--spacing-one);
}

.m-2 {
  margin: var(--spacing-two);
}

.m-3 {
  margin: var(--spacing-three);
}

.m-4 {
  margin: var(--spacing-four);
}

.m-5 {
  margin: var(--spacing-five);
}

.m-auto {
  margin: auto;
}

/* Margin-bottom */

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: var(--spacing-one);
}

.mb-2 {
  margin-bottom: var(--spacing-two);
}

.mb-3 {
  margin-bottom: var(--spacing-three);
}

.mb-4 {
  margin-bottom: var(--spacing-four);
}

.mb-5 {
  margin-bottom: var(--spacing-five);
}

.mb-auto {
  margin-bottom: auto;
}

/* Margin-top */

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: var(--spacing-one);
}

.mt-2 {
  margin-top: var(--spacing-two);
}

.mt-3 {
  margin-top: var(--spacing-three);
}

.mt-4 {
  margin-top: var(--spacing-four);
}

.mt-5 {
  margin-top: var(--spacing-five);
}

.mt-auto {
  margin-top: auto;
}

/* Margin-right */

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: var(--spacing-one);
}

.mr-2 {
  margin-right: var(--spacing-two);
}

.mr-3 {
  margin-right: var(--spacing-three);
}

.mr-4 {
  margin-right: var(--spacing-four);
}

.mr-5 {
  margin-right: var(--spacing-five);
}

.mr-auto {
  margin-right: auto;
}

/* Margin-left */

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: var(--spacing-one);
}

.ml-2 {
  margin-left: var(--spacing-two);
}

.ml-3 {
  margin-left: var(--spacing-three);
}

.ml-4 {
  margin-left: var(--spacing-four);
}

.ml-5 {
  margin-left: var(--spacing-five);
}

.ml-auto {
  margin-left: auto;
}

/* Margin - x axis */

.mx-0 {
  margin-right: 0;
  margin-left: 0;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.mx-3 {
  margin-right: var(--spacing-three);
  margin-left: var(--spacing-three);
}

.mx-4 {
  margin-right: var(--spacing-four);
  margin-left: var(--spacing-four);
}

.mx-5 {
  margin-right: var(--spacing-five);
  margin-left: var(--spacing-five);
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

/* Margin - y axis */

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-3 {
  margin-top: var(--spacing-three);
  margin-bottom: var(--spacing-three);
}

.my-4 {
  margin-top: var(--spacing-four);
  margin-bottom: var(--spacing-four);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

/* Padding - all sides */
.p-0 {
  padding: 0;
}

.p-1 {
  padding: var(--spacing-one);
}

.p-2 {
  padding: var(--spacing-two);
}

.p-3 {
  padding: var(--spacing-three);
}

.p-4 {
  padding: var(--spacing-four);
}

.p-5 {
  padding: var(--spacing-five);
}

.p-auto {
  padding: auto;
}

/* padding-bottom */

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: var(--spacing-one);
}

.pb-2 {
  padding-bottom: var(--spacing-two);
}

.pb-3 {
  padding-bottom: var(--spacing-three);
}

.pb-4 {
  padding-bottom: var(--spacing-four);
}

.pb-5 {
  padding-bottom: var(--spacing-five);
}

.pb-auto {
  padding-bottom: auto;
}

/* padding-top */

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: var(--spacing-one);
}

.pt-2 {
  padding-top: var(--spacing-two);
}

.pt-3 {
  padding-top: var(--spacing-three);
}

.pt-4 {
  padding-top: var(--spacing-four);
}

.pt-5 {
  padding-top: var(--spacing-five);
}

.pt-auto {
  padding-top: auto;
}

/* padding-right */

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: var(--spacing-one);
}

.pr-2 {
  padding-right: var(--spacing-two);
}

.pr-3 {
  padding-right: var(--spacing-three);
}

.pr-4 {
  padding-right: var(--spacing-four);
}

.pr-5 {
  padding-right: var(--spacing-five);
}

.pr-auto {
  padding-right: auto;
}

/* padding-left */

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: var(--spacing-one);
}

.pl-2 {
  padding-left: var(--spacing-two);
}

.pl-3 {
  padding-left: var(--spacing-three);
}

.pl-4 {
  padding-left: var(--spacing-four);
}

.pl-5 {
  padding-left: var(--spacing-five);
}

.pl-auto {
  padding-left: auto;
}

/* padding - x axis */

.px-0 {
  padding-right: 0;
  padding-left: 0;
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.px-3 {
  padding-right: var(--spacing-three);
  padding-left: var(--spacing-three);
}

.px-4 {
  padding-right: var(--spacing-four);
  padding-left: var(--spacing-four);
}

.px-5 {
  padding-right: var(--spacing-five);
  padding-left: var(--spacing-five);
}

.px-auto {
  padding-right: auto;
  padding-left: auto;
}

/* Padding - y axis */

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.py-3 {
  padding-top: var(--spacing-three);
  padding-bottom: var(--spacing-three);
}

.py-4 {
  padding-top: var(--spacing-four);
  padding-bottom: var(--spacing-four);
}

.py-5 {
  padding-top: var(--spacing-five);
  padding-bottom: var(--spacing-five);
}

.py-auto {
  padding-top: auto;
  padding-bottom: auto;
}

/* FONT UTILS */
.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-right {
  text-align: right;
}

.text-primary {
  color: var(--primary-text-color);
}

.text-secondary {
  color: var(--secondary-text-color);
}

.text-header {
  color: var(--header-text-color);
}

.text-quatrinary {
  color: var(--quatrinary);
}

.text-light {
  color: var(--light);
}

.text-dark {
  color: var(--dark);
}

.text-error {
  color: var(--error);
}

/* FLEX CONTENT */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.align-stretch {
  align-items: stretch;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.col-auto {
  flex-grow: 1;
  flex-basis: 0;
}

.col-1 {
  flex: 0 0 calc(100% * 1 / 12 - 0.5%);
}

.col-2 {
  flex: 0 0 calc(100% * 2 / 12 - 0.5%);
}

.col-3 {
  flex: 0 0 calc(100% * 3 / 12 - 0.5%);
}

.col-4 {
  flex: 0 0 calc(100% * 4 / 12 - 0.5%);
}

.col-5 {
  flex: 0 0 calc(100% * 5 / 12 - 0.5%);
}

.col-6 {
  flex: 0 0 calc(100% * 6 / 12 - 0.5%);
}

.col-7 {
  flex: 0 0 calc(100% * 7 / 12 - 0.5%);
}

.col-8 {
  flex: 0 0 calc(100% * 8 / 12 - 0.5%);
}

.col-9 {
  flex: 0 0 calc(100% * 9 / 12 - 0.5%);
}

.col-10 {
  flex: 0 0 calc(100% * 10 / 12 - 0.5%);
}

.col-11 {
  flex: 0 0 calc(100% * 11 / 12 - 0.5%);
}

.col-12 {
  flex: 0 0 100%;
}

/* col-sm */
@media screen and (min-width: 640px) {
  .col-sm-auto {
    flex-grow: 1;
    flex-basis: 0;
  }

  .col-sm-1 {
    flex: 0 0 calc(100% * 1 / 12 - 0.5%);
  }

  .col-sm-2 {
    flex: 0 0 calc(100% * 2 / 12 - 0.5%);
  }

  .col-sm-3 {
    flex: 0 0 calc(100% * 3 / 12 - 0.5%);
  }

  .col-sm-4 {
    flex: 0 0 calc(100% * 4 / 12 - 0.5%);
  }

  .col-sm-5 {
    flex: 0 0 calc(100% * 5 / 12 - 0.5%);
  }

  .col-sm-6 {
    flex: 0 0 calc(100% * 6 / 12 - 0.5%);
  }

  .col-sm-7 {
    flex: 0 0 calc(100% * 7 / 12 - 0.5%);
  }

  .col-sm-8 {
    flex: 0 0 calc(100% * 8 / 12 - 0.5%);
  }

  .col-sm-9 {
    flex: 0 0 calc(100% * 9 / 12 - 0.5%);
  }

  .col-sm-10 {
    flex: 0 0 calc(100% * 10 / 12 - 0.5%);
  }

  .col-sm-11 {
    flex: 0 0 calc(100% * 11 / 12 - 0.5%);
  }

  .col-sm-12 {
    flex: 0 0 100%;
  }

  .justify-space-between-sm {
    justify-content: space-between;
  }

  .justify-space-around-sm {
    justify-content: space-around;
  }

  .justify-flex-start-sm {
    justify-content: flex-start;
  }

  .justify-flex-end-sm {
    justify-content: flex-end;
  }

  .justify-center-sm {
    justify-content: center;
  }

  .align-stretch-sm {
    align-items: stretch;
  }

  .align-end-sm {
    align-items: flex-end;
  }

  .align-center-sm {
    align-items: center;
  }
}

/* col-md */
@media screen and (min-width: 768px) {
  .col-md-auto {
    flex-grow: 1;
    flex-basis: 0;
  }

  .col-md-1 {
    flex: 0 0 calc(100% * 1 / 12 - 0.5%);
  }

  .col-md-2 {
    flex: 0 0 calc(100% * 2 / 12 - 0.5%);
  }

  .col-md-3 {
    flex: 0 0 calc(100% * 3 / 12 - 0.5%);
  }

  .col-md-4 {
    flex: 0 0 calc(100% * 4 / 12 - 0.5%);
  }

  .col-md-5 {
    flex: 0 0 calc(100% * 5 / 12 - 0.5%);
  }

  .col-md-6 {
    flex: 0 0 calc(100% * 6 / 12 - 0.5%);
  }

  .col-md-7 {
    flex: 0 0 calc(100% * 7 / 12 - 0.5%);
  }

  .col-md-8 {
    flex: 0 0 calc(100% * 8 / 12 - 0.5%);
  }

  .col-md-9 {
    flex: 0 0 calc(100% * 9 / 12 - 0.5%);
  }

  .col-md-10 {
    flex: 0 0 calc(100% * 10 / 12 - 0.5%);
  }

  .col-md-11 {
    flex: 0 0 calc(100% * 11 / 12 - 0.5%);
  }

  .col-md-12 {
    flex: 0 0 100%;
  }

  .justify-space-between-md {
    justify-content: space-between;
  }

  .justify-space-around-md {
    justify-content: space-around;
  }

  .justify-flex-start-md {
    justify-content: flex-start;
  }

  .justify-flex-end-md {
    justify-content: flex-end;
  }

  .justify-center-md {
    justify-content: center;
  }

  .align-stretch-md {
    align-items: stretch;
  }

  .align-end-md {
    align-items: flex-end;
  }

  .align-center-md {
    align-items: center;
  }
}

/* col-lg */
@media screen and (min-width: 992px) {
  nav {
    width: auto;
    justify-content: flex-end;
  }

  .page-title {
    width: auto;
  }

  .col-md-auto {
    flex-grow: 1;
    flex-basis: 0;
  }

  .col-lg-1 {
    flex: 0 0 calc(100% * 1 / 12 - 0.5%);
  }

  .col-lg-2 {
    flex: 0 0 calc(100% * 2 / 12 - 0.5%);
  }

  .col-lg-3 {
    flex: 0 0 calc(100% * 3 / 12 - 0.5%);
  }

  .col-lg-4 {
    flex: 0 0 calc(100% * 4 / 12 - 0.5%);
  }

  .col-lg-5 {
    flex: 0 0 calc(100% * 5 / 12 - 0.5%);
  }

  .col-lg-6 {
    flex: 0 0 calc(100% * 6 / 12 - 0.5%);
  }

  .col-lg-7 {
    flex: 0 0 calc(100% * 7 / 12 - 0.5%);
  }

  .col-lg-8 {
    flex: 0 0 calc(100% * 8 / 12 - 0.5%);
  }

  .col-lg-9 {
    flex: 0 0 calc(100% * 9 / 12 - 0.5%);
  }

  .col-lg-10 {
    flex: 0 0 calc(100% * 10 / 12 - 0.5%);
  }

  .col-lg-11 {
    flex: 0 0 calc(100% * 11 / 12 - 0.5%);
  }

  .col-lg-12 {
    flex: 0 0 100%;
  }

  .justify-space-between-lg {
    justify-content: space-between;
  }

  .justify-space-around-lg {
    justify-content: space-around;
  }

  .justify-flex-start-lg {
    justify-content: flex-start;
  }

  .justify-flex-end-lg {
    justify-content: flex-end;
  }

  .justify-center-lg {
    justify-content: center;
  }

  .align-stretch-lg {
    align-items: stretch;
  }

  .align-end-lg {
    align-items: flex-end;
  }

  .align-center-lg {
    align-items: center;
  }
}

/* col-xl */
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 calc(100% * 1 / 12 - 0.5%);
  }

  .col-xl-2 {
    flex: 0 0 calc(100% * 2 / 12 - 0.5%);
  }

  .col-xl-3 {
    flex: 0 0 calc(100% * 3 / 12 - 0.5%);
  }

  .col-xl-4 {
    flex: 0 0 calc(100% * 4 / 12 - 0.5%);
  }

  .col-xl-5 {
    flex: 0 0 calc(100% * 5 / 12 - 0.5%);
  }

  .col-xl-6 {
    flex: 0 0 calc(100% * 6 / 12 - 0.5%);
  }

  .col-xl-7 {
    flex: 0 0 calc(100% * 7 / 12 - 0.5%);
  }

  .col-xl-8 {
    flex: 0 0 calc(100% * 8 / 12 - 0.5%);
  }

  .col-xl-9 {
    flex: 0 0 calc(100% * 9 / 12 - 0.5%);
  }

  .col-xl-10 {
    flex: 0 0 calc(100% * 10 / 12 - 0.5%);
  }

  .col-xl-11 {
    flex: 0 0 calc(100% * 11 / 12 - 0.5%);
  }

  .col-xl-12 {
    flex: 0 0 100%;
  }

  .justify-space-between-xl {
    justify-content: space-between;
  }

  .justify-space-around-xl {
    justify-content: space-around;
  }

  .justify-flex-start-xl {
    justify-content: flex-start;
  }

  .justify-flex-end-xl {
    justify-content: flex-end;
  }

  .justify-center-xl {
    justify-content: center;
  }

  .align-stretch-xl {
    align-items: stretch;
  }

  .align-end-xl {
    align-items: flex-end;
  }

  .align-center-xl {
    align-items: center;
  }
}

.main-nav {
  border: 3px solid;
  border-image: linear-gradient(
    120deg,
    rgba(86, 180, 179, 1) 0%,
    rgba(43, 94, 126, 1) 100%
  );
  border-image-slice: 1;
  background-color: #1f2328;
  color: var(--primary-text-color);
  padding: 0.25rem 0.75rem;
  margin: 0 1.5rem;
}

/* Customer List Section */

.customer-list-container [data-initials]:before {
  font-size: 1.5rem;
  width: 4.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
}

.customer-card {
  border-bottom: var(--border-bottom-divider);
}
.open-modal-btn {
  border: none;
  background-color: #0000;
  color: #c2ac71;
  font-size: 1.75rem;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #030913;
  padding: 20px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 9999;
  width: fit-content;
}

.modal-content {
  text-align: center;
}

.initial-icon-background {
  width: 8.5rem;
  height: 8.5rem;
  margin: auto;
  display: flex;
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 8.5rem;
  background: rgb(97, 77, 41);
  background: -moz-linear-gradient(
    0deg,
    rgba(97, 77, 41, 1) 0%,
    rgba(179, 152, 83, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(97, 77, 41, 1) 0%,
    rgba(179, 152, 83, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(97, 77, 41, 1) 0%,
    rgba(179, 152, 83, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#614d29",endColorstr="#b39853",GradientType=1);
}

.initial-icon-letter {
  margin: auto;
  font-size: 11px;
  color: white;
  height: 22px;
  width: 22px;
  border-radius: 24px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.ldio-lfz02bk665j div {
  position: absolute;
  width: 86px;
  height: 86px;
  border: 30px solid #60c6e4;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-lfz02bk665j div {
  animation: ldio-lfz02bk665j 1s linear infinite;
  top: 100px;
  left: 100px;
}
.loadingio-spinner-rolling-5y2qfcr8fy {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-lfz02bk665j {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-lfz02bk665j div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */
.login-section-container {
  font-family: 'Merriweather Sans', sans-serif;
  color: #0a0a0a;
  background-color: white;
}
.login-section-container h4 {
  font-family: 'Merriweather Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-weight: 700;
}
.login-logo {
  margin-top: 5rem;
}
.login-logo p {
  display: flex;
  font-size: 1.38rem;
  margin: 0;
  padding: 0;
  line-height: 0.85;
  font-weight: 800;
  justify-content: center;
  color: #d6302d;
}

.loginBtn {
  border: solid 2px rgba(152, 152, 152, 0.379);
  border-radius: 15px;
  padding: 0.85rem;
  background-color: white;
  margin: 15rem auto;
  display: block;
  margin: 15rem auto;
}
.fa-arrow-right {
  font-size: 30px;
  color: rgba(152, 152, 152, 0.379);
}
.loginBtn.filled {
  background-color: #bf443b;
  border-color: #bf443b;
}

.loginBtn.filled .fa-arrow-right {
  color: white;
}
.loginBtn.filled:hover {
  background-color: #ac352c;
  border-color: #ac352c;
}
.form-container {
  align-items: center;
  justify-content: center;
  margin: auto;
}

a.link {
  font-size: 0.75rem;
  font-weight: 800;
  display: block;
  text-align: center;
}

a.link:hover {
  color: black;
}

.login-splash {
  overflow: hidden;
  background-image: url(./assets/images/login-splash-art.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.login-error {
  color: #be29cd;
  font-size: 1rem;
  word-wrap: break-word;
  padding: 1rem;
  margin: 0 4rem;
  text-align: center;
  box-shadow: 0px 0px 53px -12px rgba(0, 0, 0, 0.75);
  position: relative;
}

.login-error:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 9.75em;
  border: 0.75rem solid transparent;
  border-top: none;

  border-bottom-color: #fff;
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
}
.signup-bg {
  background: rgb(27, 27, 27);
  background: -moz-radial-gradient(
    circle,
    rgba(27, 27, 27, 1) 0%,
    rgba(23, 23, 21, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(27, 27, 27, 1) 0%,
    rgba(23, 23, 21, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(27, 27, 27, 1) 0%,
    rgba(23, 23, 21, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1b1b1b",endColorstr="#171715",GradientType=1);
  overflow: hidden;
}
.signup-logo {
  margin: 2rem;
}
.signup-logo p {
  font-family: 'BeaufortforLOL-Bold', monospace;
  line-height: 1.5rem;
  font-size: 2rem;
  background: #d9b865;
  background: -webkit-radial-gradient(
    circle farthest-corner at center center,
    #d9b865 0%,
    #614d29 100%
  );
  background: -moz-radial-gradient(
    circle farthest-corner at center center,
    #d9b865 0%,
    #614d29 100%
  );
  background: radial-gradient(
    circle farthest-corner at center center,
    #d9b865 0%,
    #614d29 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.signup-container {
  align-items: center;
  justify-content: center;
  margin: auto;
  overflow: hidden;
}

.signup-container h4 {
  color: white;
  font-size: 4rem;
  letter-spacing: 3px;
}

.tagline {
  color: #cba969;
  font-size: 1rem;
}
.signup-form-input {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Merriweather Sans', sans-serif;
  margin: 1.5rem auto;
  font-size: 0.65rem;
  font-weight: 800;
  color: #c4b998;
  background-color: #0000;
  border: none;
  padding: 0.75rem 12rem;
  border-bottom: 2px solid #7e633b;
  text-align: center;
}

.signup-form-input::placeholder {
  color: #f0e6d2;
  margin: 0 auto;
  letter-spacing: 1px;
  text-align: center;
}

.signUpBtn {
  border: 2px solid;
  border-image: linear-gradient(
    160deg,
    rgba(255, 217, 118, 1) 0%,
    rgba(97, 77, 41, 1) 100%
  );
  border-image-slice: 1;
  padding: 1rem;
  background-color: #111111;
  color: #745b35;
  margin: 1rem auto;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.2rem;
}

.confirmPwError {
  color: #be1e37;
  margin-top: -1.125rem;
  font-size: 0.85rem;
}

.signup-input-error {
  border-bottom: 1px solid #be1e37;
  background-image: url(./assets/images/icons/error-icon.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 1rem;
}

/* Profile Page */

.sub-nav ul {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
}

.sub-nav li {
  height: auto;
  width: 100%;
  justify-content: center;
  color: var(--header-text-color);
  padding: 0 1rem 0.5rem 1rem;
}

.sub-nav li:hover {
  color: var(--primary-text-color);
  cursor: pointer;
}

.active-sub-nav {
  background-image: linear-gradient(
    120deg,
    rgba(199, 188, 145, 0) 0%,
    rgba(199, 188, 145, 1) 50%,
    rgba(199, 188, 145, 0) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 2px;
  background-position: bottom;
  color: var(--primary-text-color);
}

/* Profile - Overview */
.profile-user {
  background: rgb(35, 40, 46);
  background: -moz-radial-gradient(
    circle,
    rgba(35, 40, 46, 1) 0%,
    rgba(14, 19, 26, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(35, 40, 46, 1) 0%,
    rgba(14, 19, 26, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(35, 40, 46, 1) 0%,
    rgba(14, 19, 26, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#23282e",endColorstr="#0e131a",GradientType=1);

  height: 65vh;
  width: 25rem;
  margin-left: 5rem;
  border: 0.37rem solid #293138;
  color: var(--primary-text-color);
}

[data-initials]:before {
  background: #2f2923;
  color: var(--primary-text-color);
  opacity: 1;
  content: attr(data-initials);
  display: inline-block;
  font-weight: bold;
  font-size: 3.5rem;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 0.5em;
  width: 8.5rem;
  height: 8.5rem;
  line-height: 8.5rem;
  text-align: center;
  margin: 0 auto;
}

.profile-user h4 {
  margin-top: 5rem;
}

/* Profile - Overview END */

/* Customer Page */
.customer-info {
    border-bottom: var(--border-bottom-divider);
    color: var(--primary-text-color);
    padding-bottom: 1.125rem;
}
.customer-info h4 {
    color: var(--header-text-color);
    text-align: left;
}

.customer-card h4 {
    color: var(--header-text-color);
}
